ejercicio 0 100.json
[
    {
        "id": "0714f606d16168d4",
        "type": "tab",
        "label": "ejercicio 0 100",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject-node",
        "type": "inject",
        "z": "0714f606d16168d4",
        "name": "Generar datos",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "random-data"
            ]
        ]
    },
    {
        "id": "random-data",
        "type": "function",
        "z": "0714f606d16168d4",
        "name": "Generar valor aleatorio",
        "func": "msg.payload = Math.floor(Math.random() * 101);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "gauge",
                "historical-data"
            ]
        ]
    },
    {
        "id": "gauge",
        "type": "ui_gauge",
        "z": "0714f606d16168d4",
        "name": "Gauge en tiempo real",
        "group": "28f992746da58bcd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "historical-data",
        "type": "ui_chart",
        "z": "0714f606d16168d4",
        "name": "Histórico (últimos 5 min)",
        "group": "28f992746da58bcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Histórico",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f01010",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "28f992746da58bcd",
        "type": "ui_group",
        "name": "ejercicios",
        "tab": "e0ac8bbee36b786b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0ac8bbee36b786b",
        "type": "ui_tab",
        "name": "Ejercicio 0 100",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]